<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body class="Site">
    <header class="Site-header">
      <div class="Header">
        <div class="Header-frame">
          <h1 class="Header-title">
            <span class="sam">The</span>
            <span class="moore">Moorkowskis</span>
          </h1>
        </div>
      </div>
    </header>

    <main class="Site-content">
      {{ content }}
    </main>

    <footer class="Site-footer">
      <div class="Footer">
        <p class="Footer-copyright">Established 2016</p>
      </div>
    </footer>
  </body>
</html>
