<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body class="Site">
    <header class="Site-header">
      <div class="Header">
        <div class="Header-frame">
          <h1 class="Header-title">
            The Moorkowskis
          </h1>
        </div>
      </div>
    </header>

    <nav class="Site-nav">
      <a href="{{ "/" | prepend: site.baseurl }}" {% if page.url == "/" %}class="active"{% endif %}>Home</a>
    </nav>

    <main class="Site-content">
      {{ content }}
    </main>

    <footer class="Site-footer">
      <div class="Footer">
        <p class="Footer-copyright">Established 2016</p>
      </div>
    </footer>
  </body>
</html>
